:root{
    --dark: #e3ccb7;
    --darker: #dee3ea;
    ---darkest: #e0e7f6;
    --light: rgb(30, 2, 2);
    --yellow: #da3672;
    --darkyellow: black;
    --gray: #073e3f;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: white;
}



header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#New-Task{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#New-Task-Input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#New-Task-Submit{
    color: var(--yellow);
    font-size: 1.40rem;
    font-weight: 650;
    background-image:linear-gradient(to left, var(--darkyellow), var(--yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

#New-Task-Submit:hover{
    opacity: 0.9;
}

#New-Task-Submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.Task-List{
    padding: 1rem;
}

.Task-List h2{
    font-size: 2rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: var(---darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content{
    flex: 1 1 0%;
}

#tasks .task .content .text{
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    
    display: block;
    transition: 0.5s;

}

#tasks .task .actions{
    display: flex;
    margin: 0 -0.5rem;
}

#tasks .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 650;
    transition: 0.5s;
}

#tasks .actions button:hover{
    opacity: 0.9;
    text-transform: uppercase;
}

#tasks .actions button:active{
    opacity: 0.6;
}

.task .actions .edit{
    background-image:linear-gradient(to left, var(--darkyellow), var(--yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete{
    color: rgb(255, 153, 0);
}
